# This is Git's per-user configuration file.
[core]
	excludesFile = ~/.gitignore_global
[user]
	name = paikwiki
	email = paikwiki@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[color]
	ui = true
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
