# This is Git's per-user configuration file.
[core]
	excludesfile = /Users/paikwiki/.gitignore_global
[user]
	name = paikwiki
	email = paikwiki@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[color]
	ui = true
[pull]
	rebase = false
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
